* {
  padding: 0;
  margin: 0;
  font-family: PingFangSC-Regular, PingFang SC, sans-serif;
}

.theme .nav-bar {
  height: 64px;
  line-height: 64px;
  padding-top: 0;
  padding-bottom: 0;
}

.theme .nav-bar .nav-bar-title {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.nav-bar-title::before {
  content: '&nbsp;';
  /*margin-right: 36px;*/
  display: inline-block;
  width: 190px;
  color: transparent;

  background-image: url('/svgs/logo.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

/*.nav-bar-title::after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  left: 188px;*/
/*  top: 22px;*/
/*  width: 1px;*/
/*  height: 20px;*/
/*  background-color: #c2dfff;*/
/*  border-radius: 1px;*/
/*  overflow: hidden;*/
/*}*/